@font-face {
	font-family: 'Chewy';
	src: url('/static/fonts/Chewy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
	font-family: 'Lexend';
	font-weight: 400;
}

body {
	display: flex;
	flex-flow: column;
	place-content: center;
	color: #fff;
	background-color: #080808;
	margin: 0;
	line-height: 1.5;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
		Cantarell, 'Helvetica Neue', sans-serif;
}

body > div {
	width: 100%;
}
body > div > p {
	text-align: center;
}

main {
	margin-top: 6rem;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: auto;
	flex: 1;
	align-content: center;
	align-items: center;
	padding: 1rem;
}

h1 {
	font-family: 'Lexend';
	font-weight: 800;
	margin: 0;
	margin-top: 3rem;
	margin-bottom: 2rem;
	text-align: center;
}

footer {
	display: flex;
	place-content: center;
	font-size: 0.8rem;
}

a {
	text-decoration: none;
}

a:hover,
a:focus-visible {
	outline: none;
	text-decoration: underline;
}

ul {
	all: unset;
	list-style: none;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin: 0;
}

input {
	padding: 0 0.5rem;
	padding-top: 0.3rem;
	line-height: 1.7;
}

input:disabled {
	color: #ccc;
}

input::placeholder {
	overflow: visible;
	opacity: 0.5;
}

button {
	outline: none;
	background-color: transparent;
	border: none;
	border-radius: 0;
	cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus,
button:hover {
	color: white;
}

a {
	color: inherit;
}

#app {
	display: flex;
	height: 100vh;
	flex-flow: column;
}
